// ==========================================================================
// SMACSS - Base Scss
// Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes
// https://smacss.com/book/type-base
// ==========================================================================

body {
	font-family: $font-family-default;
}

.mdl-card--horizontal {
  flex-direction: column;
  height: 1vh; /* 1 */
  padding-left: 230px;

  .mdl-card__media {
    left: 0;
    position: absolute;
    width: 150px;
  }

  .mdl-card__supporting-text {
    flex: 1 1 auto;
    width: auto;
  }
}

.info-bulle {
    width: 65px;
    height: 65px;
    border-radius: 24px;
}

.centring {
	margin: 0 auto;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
