// ==========================================================================
// SMACSS - Module Scss
// Module is a more discrete component of the page.
// It is your navigation bars and your carousels and your dialogs and your widgets and so on.
// https://smacss.com/book/type-module
// ==========================================================================


/*Actualités*/
$home-thumbnail-heigth : 190px;
$actu-font-size : 16px;
$actu-font-color : #000000;
$actu-margin : 40px;
$prefooter-color : $primary;

main#content {
	.actualites {
		padding : 10px;
		
		.actualite {
			font-size: $actu-font-size;
			margin-top: $actu-margin;
			.mdl-card__media { height: 190px; width : 250px;}
			img { height: 190px; width : 250px;}
			.mdl-card__supporting-text > p {
				
				color : $actu-font-color;
			}
			.mdl-card__title {
				@extend h1;
				text-transform: none;
			}
			.mdl-card__actions > a{
				text-transform: none;
				float: right;
				line-height: 15px;
			}
		}
	}
}

section.pre-footer {
	background-color: $primary;
	color : $prefooter-color
}

/* Login Section */

#login {
	
	.user-information {
		padding-top: 10px;
		h5 {
			font-size: 15px;
			font-weight: 600;	
			margin: 0;
		}
	
		a {
			font-size: 15px;
			color: inherit;
			font-weight: 200;
			text-decoration: none;
		}
	}
	
	
	img.avatar {
		border-radius: 48px;
		float: right;
	}
}