// ==========================================================================
// SMACSS - Theme Scss
// A theme defines colours and images that give your application or site its look and feel.
// Separating the theme out into its own set of styles allows for those styles to be easily redefined for alternate themes.
// https://smacss.com/book/type-theme
// ==========================================================================

$color-text : #757575;
$color-link : #757575;

$primary : white;
$secondary : #1d3d86;
$secondary-transparence : rgba(29,65,135, 0.55);

$font-family-default : 'Roboto';
$font-family-display : $font-family-default;
$font-size:48px;

$header-title-font-size : 22px;
$header-height : 140px;
$menu-height : 60px;
$header-padding : 20px;

$home-banner : "../images/banner.jpg";
$max-icon-height : 100px;
