@charset "UTF-8";
body {
  font-family: "Roboto"; }

ul {
  list-style: none; }

.info-bulle {
  width: 65px;
  height: 65px;
  border-radius: 24px; }

.label-pills {
  background-color: #f0ad4e;
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
  display: inline-block;
  padding: .25em .4em;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline; }

.centring {
  margin: 0 auto; }

h2 {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 5px;
  color: #1d3d86;
  font-weight: 600; }

.actualites .actualite:after {
  content: "";
  display: table;
  clear: both; }

header {
  background-color: white !important; }
  header .mdl-layout__header-row {
    height: 140px;
    color: #1d3d86;
    padding-left: 140px; }
    header .mdl-layout__header-row .mdl-layout-title .logo {
      max-height: 100px; }
    header .mdl-layout__header-row .mdl-layout-title h1 {
      display: inline;
      font-size: 35px;
      font-weight: 600; }
    header .mdl-layout__header-row .mdl-layout-title h4 {
      margin: 0;
      font-size: 20px;
      line-height: 20px; }
    header .mdl-layout__header-row nav {
      margin: 0 auto !important; }
      header .mdl-layout__header-row nav .mdl-navigation__link {
        font-size: 16px;
        font-weight: 400; }
        header .mdl-layout__header-row nav .mdl-navigation__link:hover {
          text-decoration: underline; }
  header #menu {
    height: 60px;
    background-color: #1d3d86; }

#banner {
  height: 463px;
  width: 100%;
  margin: 0px;
  overflow: hidden; }
  #banner .overlay {
    height: 160%;
    width: 40%;
    transform: rotate(25deg);
    margin-top: -85px;
    margin-right: -150px;
    background-color: rgba(29, 65, 135, 0.55);
    float: right; }
    #banner .overlay .container {
      transform: rotate(-25deg);
      height: 100%;
      text-align: right;
      padding-right: 5%;
      float: right;
      margin-right: 180px; }
      #banner .overlay .container ul {
        list-style: none;
        margin-top: 170px; }
        #banner .overlay .container ul li {
          text-decoration: none;
          font-size: 20px; }
          #banner .overlay .container ul li .team {
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 30px; }
          #banner .overlay .container ul li h2 {
            margin-top: 0;
            line-height: normal;
            font-size: 24px;
            font-weight: 500; }

main#content {
  /* Responsive Phone */
  /*Responsive - Large Screen*/ }
  main#content h1 {
    color: #1d3d86;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500; }
  @media (min-width: 320px) {
    main#content {
      margin: 0;
      margin-left: 0px; } }
  @media (min-width: 1024px) {
    main#content {
      width: 1280px;
      margin: 0 auto; } }

section#bottom-banner {
  position: relative;
  background-color: #1d3d86;
  padding: 35px;
  /*Phone Rules*/ }
  section#bottom-banner ul.social {
    display: block;
    color: white; }
    section#bottom-banner ul.social li {
      line-height: 20px;
      margin-bottom: 20px;
      font-weight: 200; }
      section#bottom-banner ul.social li a {
        text-decoration: none;
        color: white; }
      section#bottom-banner ul.social li div {
        font-weight: 500; }
    section#bottom-banner ul.social img {
      float: left;
      margin-right: 15px;
      z-index: 1000; }
  section#bottom-banner #banner-image {
    position: absolute;
    right: 5%;
    bottom: 0%;
    width: 25%; }
    section#bottom-banner #banner-image img {
      width: 100%; }
  @media (min-width: 320px) {
    section#bottom-banner {
      padding: 0px;
      margin: 0; }
      section#bottom-banner #banner-image {
        position: inherit;
        margin-bottom: 20px;
        float: right;
        width: 45px; } }

footer {
  text-align: center; }
  footer h1 {
    color: #1d3d86;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600; }

footer#credits {
  background-color: #1d3d86; }
  footer#credits a {
    text-decoration: none;
    color: inherit;
    margin-right: 10px; }

/*Actualités*/
section.pre-footer {
  background-color: white;
  color: white; }

/* Login Section */
#login .user-information {
  padding-top: 10px; }
  #login .user-information h5 {
    font-size: 15px;
    font-weight: 600;
    margin: 0; }
  #login .user-information a {
    font-size: 15px;
    color: inherit;
    font-weight: 200;
    text-decoration: none; }

#login img.avatar {
  border-radius: 48px;
  float: right; }

/* Header Last Results*/
#widget-last-results {
  margin: 0 auto;
  text-align: center; }
  #widget-last-results h3 {
    font-size: 16px;
    margin: 0; }
  #widget-last-results .results {
    font-weight: bold;
    text-transform: uppercase; }

/* Partner */
ul.partners li {
  display: inline-block;
  height: 100px;
  margin: 0 40px; }
  ul.partners li img {
    width: 80px;
    height: auto; }

/* Archive Teams */
ul.all-teams li {
  text-align: center;
  display: block;
  border-radius: 50%;
  float: left;
  width: 210px;
  height: 210px;
  margin: 25px;
  background-color: #1d3d86; }
  ul.all-teams li a {
    line-height: 200px;
    color: white;
    font-size: 25px;
    text-decoration: none; }

/*Agenda*/
.agenda {
  color: #8a8c96;
  margin: 0;
  padding: 0; }
  .agenda .count {
    position: absolute;
    margin: 15px 10px;
    font-weight: lighter;
    font-style: normal;
    right: 5px;
    line-height: 40px;
    font-size: 20px;
    color: #1d3d86;
    background-color: white; }
  .agenda ul.events {
    margin: 0;
    padding: 0;
    line-height: 30px; }
    .agenda ul.events li {
      -moz-box-shadow: 1px 1px 1px 0px #ebecf0;
      -webkit-box-shadow: 0px 0px 0px 0px #ebecf0;
      -o-box-shadow: 1px 1px 1px 0px #ebecf0;
      box-shadow: 1px 1px 1px 1px #ebecf0;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=#ebecf0, Direction=134, Strength=1);
      height: 80px;
      padding: 30px; }
      .agenda ul.events li .descr {
        color: #2d304a;
        font-size: 22px; }
      .agenda ul.events li .descr.purple {
        width: 190px;
        border-right: solid 2px #1ab3ec; }
      .agenda ul.events li .descr.orange {
        width: 190px;
        border-right: solid 2px #bb68e3; }
      .agenda ul.events li .descr.blue {
        width: 190px;
        border-right: solid 2px #f88c4b; }

/*--- Event Details*/
div.event-details {
  height: 85vh;
  width: 100%;
  padding: 0;
  margin: 0;
  padding: 0; }
  div.event-details .cover {
    width: auto;
    height: 45%; }
    div.event-details .cover .header-content {
      width: 45%;
      height: 100%;
      background-color: white;
      padding: 10px 40px; }
      div.event-details .cover .header-content h1 {
        margin: 0;
        line-height: 50px;
        padding: 0;
        float: left;
        margin-top: 35%;
        font-weight: 300 !important;
        display: inline-block;
        width: 100%; }
  div.event-details .carousel {
    position: relative;
    margin: 0;
    padding: 0; }
    @media (min-width: 320px) {
      div.event-details .carousel div {
        min-width: calc(100% / 4);
        min-height: 80px;
        background-size: 350px;
        background-repeat: no-repeat; } }
    div.event-details .carousel div {
      background-color: #1abc9c;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      opacity: .7; }
    div.event-details .carousel div:hover {
      opacity: 1; }
    div.event-details .carousel div.more-pictures {
      opacity: 1;
      background-color: #1d3d86;
      text-align: center;
      color: white;
      font-weight: lighter;
      padding-right: 0px; }
      div.event-details .carousel div.more-pictures h1 {
        background-color: #1d3d86;
        margin: 0;
        color: white !important;
        text-align: center;
        font-size: 2.5em !important;
        font-weight: 300 !important; }
  div.event-details .event-content {
    padding: 40px; }

.team-builder {
  margin: 25px; }
  .team-builder .mdl-button {
    float: right; }
  .team-builder .mdl-badge[data-badge]:after {
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 300; }

.mdl-demo .mdl-layout__header-row {
  padding-left: 40px; }

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit; }

.mdl-demo .mdl-layout__tab-bar-button {
  display: none; }

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none; }

.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible; }

.mdl-demo .mdl-layout__tab-bar-container {
  height: 64px; }

.mdl-demo .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%; }

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px; }

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px; }

.mdl-demo main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px; }

.mdl-demo .mdl-card {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.mdl-demo .mdl-card > * {
  height: auto; }

.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px); }

.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px; }

.mdl-demo .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit; }

.mdl-demo .mdl-card__actions a {
  color: #00BCD4;
  margin: 0; }

.mdl-demo .mdl-card__actions a:hover,
.mdl-demo .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent; }

.mdl-demo .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12); }

.mdl-demo #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999; }

.mdl-demo .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px; }

.mdl-demo section.section--center {
  max-width: 860px; }

.mdl-demo #features section.section--center {
  max-width: 620px; }

.mdl-demo section > header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.mdl-demo section > .section__play-btn {
  min-height: 200px; }

.mdl-demo section > header > .material-icons {
  font-size: 3rem; }

.mdl-demo section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px; }

.mdl-demo section .section__circle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

.mdl-demo section .section__text {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-top: 8px; }

.mdl-demo section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em; }

.mdl-demo section .section__text a {
  text-decoration: none; }

.mdl-demo section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0; }

.mdl-demo section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px; }

.mdl-demo .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px; }

.mdl-demo section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px; }

.mdl-demo section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13); }

.mdl-demo .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px; }

.mdl-demo .mdl-layout__tab-panel:not(#overview) {
  background-color: white; }

.mdl-demo #features section {
  margin-bottom: 72px; }

.mdl-demo #features h4, #features h5 {
  margin-bottom: 16px; }

.mdl-demo .toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.mdl-demo .toc h4 {
  font-size: 0.9rem;
  margin-top: 0; }

.mdl-demo .toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block; }

.mdl-demo .mdl-menu__container {
  z-index: 99; }

/*
 Module : Actualites
*/
.actualites .actualite {
  float: left;
  margin: 20px 40px;
  /* Responsive rules */ }
  .actualites .actualite > img {
    width: 270px;
    height: auto;
    margin: 0; }
  .actualites .actualite-content {
    margin: 20px;
    width: 250px;
    float: right; }
  .actualites .actualite a {
    color: #1d3d86;
    font-weight: 600;
    padding: 10px;
    float: right;
    text-decoration: none; }
    .actualites .actualite a span {
      display: inline-block;
      vertical-align: middle;
      height: 34px; }
  @media (max-width: 640px) {
    .actualites .actualite > img {
      width: 200px;
      height: auto; } }
  @media (max-width: 604px) {
    .actualites .actualite > img {
      float: left; }
    .actualites .actualite-content {
      margin: 20px;
      width: 100%; } }
