@charset "UTF-8";
.mdl-layout {
  overflow: visible; }

/**
 * COLORS
 */
/**
 * BREAKPOINTS
 */
/*
  Display {numPerRow} elements by row, with a margin-right of {margin} in percent
 */
body {
  font-family: "Roboto"; }

html, div {
  box-sizing: border-box; }

body {
  font-family: "Roboto"; }

ul {
  list-style: none; }

.info-bulle {
  width: 65px;
  height: 65px;
  border-radius: 24px; }

.label-pills {
  background-color: #f0ad4e;
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
  display: inline-block;
  padding: .25em .4em;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin: 3px; }

.centring {
  margin: 0 auto; }

h2 {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 5px;
  color: #1d3d86;
  font-weight: 600; }

.actualites .actualite:after {
  content: "";
  display: table;
  clear: both; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

main#content {
  overflow: visible;
  min-width: 90%;
  padding: 5px;
  /* Responsive Phone */ }
  main#content h1 {
    color: #1d3d86;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500; }
  @media (max-width: 767px) {
    main#content {
      margin: 0;
      margin-left: 0px; } }
  @media (min-width: 1024px) {
    main#content {
      /*Responsive - Large Screen*/
      margin: 0 auto; } }

section#bottom-banner {
  position: relative;
  background-color: #1d3d86;
  padding: 35px;
  /*Phone Rules*/ }
  section#bottom-banner ul.social {
    display: block;
    color: white;
    margin: 20px auto; }
    section#bottom-banner ul.social li {
      line-height: 20px;
      margin-bottom: 20px;
      font-weight: 200; }
      section#bottom-banner ul.social li a {
        text-decoration: none;
        color: white; }
      section#bottom-banner ul.social li div {
        font-weight: 500; }
    section#bottom-banner ul.social img {
      float: left;
      margin-right: 15px;
      z-index: 1000; }
  section#bottom-banner #banner-image {
    position: absolute;
    right: 5%;
    bottom: 0%;
    width: 25%; }
    section#bottom-banner #banner-image img {
      width: 100%; }
  @media (max-width: 767px) {
    section#bottom-banner {
      padding: 0px;
      margin: 0; }
      section#bottom-banner #banner-image {
        position: inherit;
        margin-bottom: 20px;
        float: right;
        width: 45px; } }

footer {
  text-align: center; }
  footer h1 {
    color: #1d3d86;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600; }

footer#credits {
  background-color: #1d3d86; }
  footer#credits a {
    text-decoration: none;
    color: inherit;
    margin-right: 10px; }

/*Actualités*/
section.pre-footer {
  background-color: white;
  color: white; }

/* Next Match Module */
#widget-next-match {
  text-align: center;
  padding: 10px;
  font-size: 1.5vw; }
  #widget-next-match h3 {
    margin: 0; }
  #widget-next-match .next-match {
    border-bottom: 1px solid #ddd;
    line-height: 43px; }
    #widget-next-match .next-match span {
      display: block; }
      #widget-next-match .next-match span.right {
        float: right; }
      #widget-next-match .next-match span.left {
        float: left; }
    #widget-next-match .next-match i {
      padding: 10px; }
    #widget-next-match .next-match:after {
      content: "";
      display: table;
      clear: both; }
  #widget-next-match span {
    line-height: 25px; }

/* Login Section */
.user-information {
  padding-top: 10px; }
  .user-information h5 {
    font-size: 15px;
    font-weight: 600;
    margin: 0; }
  .user-information a {
    font-size: 15px;
    color: inherit;
    font-weight: 200;
    text-decoration: none; }
  @media (max-width: 767px) {
    .user-information h5 {
      font-size: 13px; }
    .user-information a {
      font-size: 11px; } }

#login .avatar {
  height: 83px;
  width: 83px;
  border-radius: 48px;
  overflow: hidden; }
  @media (max-width: 767px) {
    #login .avatar {
      height: 63px;
      width: 63px;
      border-radius: 48px; } }

/* Partner */
ul.partners li {
  display: inline-block;
  height: 100px;
  margin: 0 40px; }
  ul.partners li img {
    width: 80px;
    height: auto; }

/* Archive Teams */
ul.all-teams li {
  text-align: center;
  display: block;
  border-radius: 50%;
  float: left;
  width: 210px;
  height: 210px;
  margin: 25px;
  background-color: #1d3d86; }
  ul.all-teams li a {
    line-height: 200px;
    color: white;
    font-size: 25px;
    text-decoration: none; }

/**
 * Header & Menu
 */
header {
  background-color: white !important; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header .mdl-layout__header-row {
    height: 140px;
    color: #1d3d86;
    padding-left: 140px; }
    header .mdl-layout__header-row .mdl-layout-title .logo {
      max-height: 100px; }
      @media (max-width: 767px) {
        header .mdl-layout__header-row .mdl-layout-title .logo {
          max-height: 40px; } }
    header .mdl-layout__header-row .mdl-layout-title h1 {
      display: inline;
      font-size: 35px;
      font-weight: 600; }
    header .mdl-layout__header-row .mdl-layout-title h4 {
      margin: 0;
      font-size: 20px;
      line-height: 20px; }
    header .mdl-layout__header-row nav {
      margin: 0 auto !important; }
      header .mdl-layout__header-row nav .mdl-navigation__link {
        font-size: 16px;
        font-weight: 400; }
        header .mdl-layout__header-row nav .mdl-navigation__link:hover {
          text-decoration: underline; }
    header .mdl-layout__header-row .login #login-link {
      color: #1d3d86; }
      header .mdl-layout__header-row .login #login-link i {
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        color: white;
        background-color: #1d3d86; }
        @media (max-width: 767px) {
          header .mdl-layout__header-row .login #login-link i {
            float: right; } }
      header .mdl-layout__header-row .login #login-link span {
        margin-left: 10px; }
    @media (max-width: 767px) {
      header .mdl-layout__header-row {
        padding-left: 20px; } }
  header #menu {
    height: 60px;
    background-color: #1d3d86; }
  header #min-login-menu {
    color: white;
    margin-right: 3%; }
    header #min-login-menu button#login-menu {
      margin-top: 9px; }
    header #min-login-menu .avatar {
      float: right;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      width: 100%;
      height: 100%; }
      @media (max-width: 767px) {
        header #min-login-menu .avatar {
          height: 100%;
          width: 100%;
          border-radius: 100%; } }

.placeholder {
  min-height: 54px; }
  .placeholder:after {
    content: "";
    display: table;
    clear: both; }

.phone-login {
  height: 94px;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0;
  margin: 0;
  width: 100%; }
  .phone-login .user-information {
    width: 60%;
    padding: 5%; }
  .phone-login .trap-avatar {
    width: 40%;
    -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%); }

/**
 * Banner
 */
#banner {
  height: 463px;
  width: 100%;
  margin: 0px;
  overflow: hidden; }
  #banner .overlay {
    height: 160%;
    width: 40%;
    transform: rotate(25deg);
    margin-top: -85px;
    margin-right: -150px;
    background-color: rgba(29, 65, 135, 0.55);
    float: right; }
    #banner .overlay .container {
      transform: rotate(-25deg);
      height: 100%;
      text-align: right;
      padding-right: 5%;
      float: right;
      margin-right: 180px; }
      #banner .overlay .container ul {
        list-style: none;
        margin-top: 170px; }
        #banner .overlay .container ul li.event {
          margin-top: 6%;
          font-size: 1vw; }
          #banner .overlay .container ul li.event .label {
            font-size: 0.9vw;
            font-weight: 600;
            text-transform: uppercase; }
          #banner .overlay .container ul li.event h2 {
            line-height: normal;
            font-size: 2.6vw;
            font-weight: 500;
            color: white; }
  @media (max-width: 767px) {
    #banner {
      height: 150px; }
      #banner .overlay {
        height: 142%;
        width: 50%;
        transform: rotate(25deg);
        margin-top: -14px;
        margin-right: -23px;
        float: right; }
        #banner .overlay .container {
          transform: rotate(-25deg);
          height: 100%;
          text-align: right;
          padding-right: 5%;
          float: right;
          margin-right: 25px; }
          #banner .overlay .container ul {
            margin-top: 0px;
            padding: 15px 5px; }
            #banner .overlay .container ul li.event {
              margin-top: 20%;
              font-size: 1em;
              color: white; }
              #banner .overlay .container ul li.event .label {
                font-size: 1em;
                font-weight: 600; }
              #banner .overlay .container ul li.event h2 {
                line-height: 1em;
                font-size: 1em;
                font-weight: 500; } }

/*Agenda*/
/*Calendario*/
.fc-calendar-container {
  position: relative;
  height: 400px;
  width: 400px; }

.fc-calendar {
  width: 100%;
  height: 100%; }

.fc-calendar .fc-head {
  height: 30px;
  line-height: 30px;
  background: #ccc;
  color: #fff; }

.fc-calendar .fc-body {
  position: relative;
  width: 100%;
  height: 100%;
  height: -moz-calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  height: calc(100% - 30px);
  border: 1px solid #ddd; }

.fc-calendar .fc-row {
  width: 100%;
  border-bottom: 1px solid #ddd; }

.fc-four-rows .fc-row {
  height: 25%; }

.fc-five-rows .fc-row {
  height: 20%; }

.fc-six-rows .fc-row {
  height: 16.66%;
  height: -moz-calc(100%/6);
  height: -webkit-calc(100%/6);
  height: calc(100%/6); }

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
  float: left;
  height: 100%;
  width: 14.28%;
  /* 100% / 7 */
  width: -moz-calc(100%/7);
  width: -webkit-calc(100%/7);
  /* width: calc(100%/7); */
  position: relative; }

/* IE 9 is rounding up the calc it seems */
.ie9 .fc-calendar .fc-row > div,
.ie9 .fc-calendar .fc-head > div {
  width: 14.2%; }

.fc-calendar .fc-row > div {
  border-right: 1px solid #ddd;
  padding: 4px;
  overflow: hidden;
  position: relative;
  cursor: pointer; }

.fc-calendar .fc-head > div {
  text-align: center; }

.fc-calendar .fc-row > div > span.fc-date {
  position: absolute;
  width: 30px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #ddd;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
  bottom: 5px;
  right: 5px;
  text-align: right; }

.fc-calendar .fc-row > div time {
  display: none; }

.fc-calendar .fc-row > div > span.fc-weekday {
  padding-left: 5px;
  display: none; }

.fc-calendar .fc-row > div.fc-today {
  background: #fff4c3; }

.fc-calendar .fc-row > div.fc-out {
  opacity: 0.6; }

.fc-calendar .fc-row > div:last-child,
.fc-calendar .fc-head > div:last-child {
  border-right: none; }

.fc-calendar .fc-row:last-child {
  border-bottom: none; }

/*Custom CSS*/
/* Custom calendar elements */
.custom-calendar-wrap {
  margin: 10px auto;
  position: relative;
  overflow: hidden; }

.custom-inner {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }

.custom-inner:before,
.custom-inner:after {
  content: '';
  width: 99%;
  height: 50%;
  position: absolute;
  background: #f6f6f6;
  bottom: -4px;
  left: 0.5%;
  z-index: -1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }

.custom-inner:after {
  content: '';
  width: 98%;
  bottom: -7px;
  left: 1%;
  z-index: -2; }

.custom-header {
  background: #fff;
  padding: 5px 10px 10px 20px;
  height: 70px;
  position: relative;
  border-top: 5px solid #1d3d86;
  border-bottom: 1px solid #ddd; }

.custom-header h2,
.custom-header h3 {
  text-align: center;
  text-transform: uppercase; }

.custom-header h2 {
  color: #495468;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px; }

.custom-header h3 {
  font-size: 10px;
  font-weight: 700;
  color: #1ab3ec; }

.custom-header nav span {
  position: absolute;
  top: 17px;
  width: 30px;
  height: 30px;
  color: transparent;
  cursor: pointer;
  margin: 0 1px;
  font-size: 20px;
  line-height: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.custom-header nav span:first-child {
  left: 5px; }

.custom-header nav span:last-child {
  right: 5px; }

.custom-header nav span:before {
  font-family: 'fontawesome-selected';
  color: #1d3d86;
  position: absolute;
  text-align: center;
  width: 100%; }

.custom-header nav span.custom-prev:before {
  content: '\25c2'; }

.custom-header nav span.custom-next:before {
  content: '\25b8'; }

.custom-header nav span:hover:before {
  color: #495468; }

.custom-content-reveal {
  background: #f6f6f6;
  background: rgba(246, 246, 246, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0px;
  text-align: center;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }

.custom-content-reveal span.custom-content-close {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #1d3d86;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  line-height: 13px;
  padding: 0; }

.custom-content-reveal span.custom-content-close:after {
  content: 'x';
  font-size: 18px;
  color: #fff; }

.custom-content-reveal a,
.custom-content-reveal span {
  font-size: 22px;
  padding: 10px 30px;
  display: block; }

.custom-content-reveal h4 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #777;
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 5px solid #1d3d86;
  box-shadow: 0 1px rgba(255, 255, 255, 0.9);
  margin-bottom: 30px; }

.custom-content-reveal span {
  color: #888; }

.custom-content-reveal a {
  color: #1d3d86; }

.custom-content-reveal time {
  display: none; }

.custom-content-reveal a:hover {
  color: #333; }

/* Modifications */
.fc-calendar-container {
  height: 400px;
  width: auto;
  padding: 30px;
  background: #f6f6f6;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.8); }

.fc-calendar .fc-head {
  background: transparent;
  color: #1d3d86;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px; }

.fc-calendar .fc-row > div {
  background: #fff;
  cursor: pointer; }

.fc-calendar .fc-row > div:empty {
  background: transparent;
  cursor: default; }

.fc-calendar .fc-row > div > span.fc-date {
  top: 50%;
  left: 50%;
  text-align: center;
  margin: -10px 0 0 -15px;
  color: #686a6e;
  font-weight: 400;
  pointer-events: none; }

.fc-calendar .fc-row > div > span.fc-emptydate {
  color: #ccc; }

.fc-calendar .fc-row > div.fc-today {
  background: #1d3d86;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1); }

.fc-calendar .fc-row > div.fc-today > span.fc-date {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.fc-calendar .fc-row > div.fc-content:after {
  content: '\00B7';
  text-align: center;
  width: 20px;
  margin-left: -10px;
  position: absolute;
  color: #1ab3ec;
  font-size: 70px;
  line-height: 20px;
  left: 50%;
  bottom: 3px; }

.fc-calendar .fc-row > div.fc-today.fc-content:after {
  color: #b02c42; }

.fc-calendar .fc-row > div.fc-today.fc-content:hover:after {
  color: #fff; }

.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span {
  display: none;
  font-size: 22px; }

@media screen and (max-width: 400px) {
  .fc-calendar-container {
    height: 300px; }
  .fc-calendar .fc-row > div > span.fc-date {
    font-size: 15px; } }

/* SLHB Agenda */
.slhb-calendar {
  margin: 0 5px;
  min-height: 85vh; }

.agenda {
  overflow: hidden;
  position: relative;
  width: 960px;
  min-height: 85vh;
  color: #8a8c96;
  margin: 0;
  padding: 0;
  /* Calendar */
  /* Events Lists*/ }
  .agenda .left-column {
    width: 35%;
    margin: 0;
    background-color: #f6f6f6; }
    .agenda .left-column h1 {
      text-align: center; }
    @media (max-width: 767px) {
      .agenda .left-column {
        width: 100%; } }
  .agenda .fc-calendar .fc-row > div {
    padding: 0; }
  .agenda .count {
    position: absolute;
    margin: 15px 10px;
    font-weight: lighter;
    font-style: normal;
    right: 5px;
    line-height: 40px;
    font-size: 20px;
    color: #1d3d86;
    background-color: white; }
  .agenda h6 {
    line-height: 80px;
    margin: 0;
    font-size: 20px;
    text-align: center; }
  .agenda .month-name {
    color: #1d3d86; }
  .agenda ul.events {
    margin: 0;
    padding: 0;
    line-height: 30px; }
    .agenda ul.events li {
      -moz-box-shadow: 1px 1px 1px 0px #ebecf0;
      -webkit-box-shadow: 0px 0px 0px 0px #ebecf0;
      -o-box-shadow: 1px 1px 1px 0px #ebecf0;
      box-shadow: 1px 1px 1px 1px #ebecf0;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=#ebecf0, Direction=134, Strength=1);
      height: 80px;
      padding: 30px; }
      .agenda ul.events li .descr {
        color: #2d304a;
        font-size: 22px; }
      .agenda ul.events li .descr.purple {
        width: 55%;
        min-width: 150px;
        border-right: solid 2px #1ab3ec; }
      .agenda ul.events li .descr.orange {
        width: 55%;
        min-width: 150px;
        border-right: solid 2px #bb68e3; }
      .agenda ul.events li .descr.blue {
        width: 55%;
        min-width: 150px;
        border-right: solid 2px #f88c4b; }

/*--- Event Details*/
div.event-details {
  min-height: 85vh;
  padding: 0;
  margin: 0;
  padding: 0; }
  div.event-details .cover {
    width: auto;
    height: 30%; }
    div.event-details .cover .header-content {
      width: 45%;
      height: 100%;
      background-color: white;
      padding: 10px 40px; }
      div.event-details .cover .header-content h1 {
        margin: 0;
        line-height: 50px;
        padding: 0;
        float: left;
        margin-top: 35%;
        font-weight: 300 !important;
        display: inline-block;
        width: 100%; }
  div.event-details .carousel {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 110px; }
    div.event-details .carousel div {
      min-width: calc(100% / 4);
      min-height: 80px;
      background-size: 350px;
      background-repeat: no-repeat; }
      div.event-details .carousel div {
        background-color: #1abc9c;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        opacity: .7; }
      div.event-details .carousel div:hover {
        opacity: 1; }
    div.event-details .carousel div.more-pictures {
      opacity: 1;
      background-color: #1d3d86;
      text-align: center;
      color: white;
      font-weight: lighter;
      padding-right: 0px; }
      div.event-details .carousel div.more-pictures h1 {
        background-color: #1d3d86;
        margin: 0;
        color: white !important;
        text-align: center;
        font-size: 2.5em !important;
        font-weight: 300 !important; }
  div.event-details .event-content {
    padding: 40px; }
    div.event-details .event-content:after {
      content: "";
      display: table;
      clear: both; }

.team-builder {
  margin: 25px; }
  .team-builder .mdl-button {
    float: right; }
  .team-builder .mdl-badge[data-badge]:after {
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 300; }
  .team-builder h6 {
    margin: 0; }

.mdl-demo .mdl-layout__header-row {
  padding-left: 40px; }

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit; }

.mdl-demo .mdl-layout__tab-bar-button {
  display: none; }

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none; }

.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible; }

.mdl-demo .mdl-layout__tab-bar-container {
  height: 64px; }

.mdl-demo .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%; }

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px; }

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px; }

.mdl-demo main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px; }

.mdl-demo .mdl-card {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.mdl-demo .mdl-card > * {
  height: auto; }

.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px); }

.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px; }

.mdl-demo .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit; }

.mdl-demo .mdl-card__actions a {
  color: #00BCD4;
  margin: 0; }

.mdl-demo .mdl-card__actions a:hover,
.mdl-demo .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent; }

.mdl-demo .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12); }

.mdl-demo #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999; }

.mdl-demo .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px; }

.mdl-demo section.section--center {
  max-width: 860px; }

.mdl-demo #features section.section--center {
  max-width: 620px; }

.mdl-demo section > header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.mdl-demo section > .section__play-btn {
  min-height: 200px; }

.mdl-demo section > header > .material-icons {
  font-size: 3rem; }

.mdl-demo section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px; }

.mdl-demo section .section__circle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

.mdl-demo section .section__text {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-top: 8px; }

.mdl-demo section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em; }

.mdl-demo section .section__text a {
  text-decoration: none; }

.mdl-demo section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
  overflow: hidden; }

.mdl-demo section .section__circle-container > .section__circle-container__circle > img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  overflow: hidden; }

.mdl-demo section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px; }

.mdl-demo .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px; }

.mdl-demo section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px; }

.mdl-demo section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13); }

.mdl-demo .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px; }

.mdl-demo .mdl-layout__tab-panel:not(#overview) {
  background-color: white; }

.mdl-demo #features section {
  margin-bottom: 72px; }

.mdl-demo #features h4, #features h5 {
  margin-bottom: 16px; }

.mdl-demo .toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.mdl-demo .toc h4 {
  font-size: 0.9rem;
  margin-top: 0; }

.mdl-demo .toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block; }

.mdl-demo .mdl-menu__container {
  z-index: 99; }

/*
 Module : Actualites
*/
.actualites .actualite {
  float: left;
  margin: 0 25px 20px 20px;
  width: 430px;
  height: 250px;
  overflow: hidden;
  /* Responsive rules */ }
  .actualites .actualite > img {
    width: 200px;
    height: auto;
    margin: 0; }
  .actualites .actualite-content {
    margin: 0 0 0 20px;
    width: 210px;
    float: right; }
  .actualites .actualite a {
    color: #1d3d86;
    font-weight: 600;
    padding: 10px;
    float: right;
    text-decoration: none; }
    .actualites .actualite a span {
      display: inline-block;
      vertical-align: middle;
      height: 34px; }
  @media (max-width: 767px) {
    .actualites .actualite {
      width: 80%;
      margin: 10%;
      padding: 5px;
      height: auto;
      text-align: center; }
      .actualites .actualite > img {
        width: 200px;
        height: auto; }
      .actualites .actualite-content {
        margin: 5px;
        width: 100%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .actualites .actualite {
      width: 560px; }
      .actualites .actualite > img {
        width: 240px; }
      .actualites .actualite-content {
        width: 290px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .actualites {
    margin: 0 auto;
    width: 700px; }
    .actualites-content {
      margin: 20px; } }

@media (min-width: 1024px) {
  .actualites {
    margin: 0 auto;
    width: 960px; } }

/* Actu Details */
main#content .details-actualite {
  width: 660px;
  padding: 20px;
  margin: 0 auto; }
  main#content .details-actualite header h1 {
    text-transform: none;
    font-weight: 700;
    font-size: 35px;
    color: #1d3d86;
    margin-bottom: 0; }
  main#content .details-actualite header .sub-infos {
    text-transform: uppercase;
    color: #767676; }
  main#content .details-actualite section {
    margin-top: 45px; }
  main#content .details-actualite .fb-share-button {
    margin-top: 25px; }

.related {
  background-color: #1d3d86;
  padding: 0;
  margin: 0;
  margin-top: 5rem; }
  .related .related-center {
    width: 100%;
    margin: 0 auto;
    height: 250px;
    overflow: hidden;
    position: relative; }
    .related .related-center a.read-next-story {
      text-decoration: none;
      position: relative;
      text-align: center;
      color: #fff;
      background: #1d3d86 no-repeat center center;
      background-size: cover;
      overflow: hidden;
      float: left;
      width: 50%;
      height: 100%; }
      .related .related-center a.read-next-story:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: all 0.5s ease; }
      .related .related-center a.read-next-story:hover:before {
        background: rgba(0, 0, 0, 0.8);
        transition: all 0.2s ease; }
      .related .related-center a.read-next-story:hover .post:before {
        color: #222;
        background: #fff;
        transition: all 0.2s ease; }
      .related .related-center a.read-next-story .post {
        position: relative;
        width: 80%;
        margin: 1rem auto;
        padding-top: 3rem;
        padding-bottom: 3rem; }
        .related .related-center a.read-next-story .post:before {
          content: "A lire ensuite";
          padding: 4px 10px 5px;
          text-transform: uppercase;
          font-size: 0.8rem;
          font-family: "Open Sans", sans-serif;
          color: rgba(255, 255, 255, 0.8);
          border: rgba(255, 255, 255, 0.5) 1px solid;
          border-radius: 4px;
          transition: all 0.5s ease; }
        .related .related-center a.read-next-story .post h2 {
          margin-top: 10px;
          color: white;
          font-weight: bold;
          font-size: 28px;
          text-align: center; }
        .related .related-center a.read-next-story .post p {
          padding: 20px 0;
          color: rgba(255, 255, 255, 0.8);
          font-weight: 300; }

.contact {
  margin: 65px auto;
  width: 50%;
  min-width: 385px; }
  .contact .mdl-card__title {
    background-color: #1d3d86; }
    .contact .mdl-card__title h2 {
      font-size: 15px; }
  .contact .mdl-button {
    color: #1d3d86; }

/*
  Organigramme component
 */
.the-crew {
  width: 80%;
  margin: 0 auto; }
  .the-crew ul {
    padding: 0; }
    .the-crew ul li {
      float: left;
      margin: 25px 20px;
      width: 288px; }
      .the-crew ul li img {
        float: left;
        -webkit-border-radius: 85px;
        -moz-border-radius: 85px;
        border-radius: 85px;
        width: 85px;
        height: 85px; }
      .the-crew ul li p {
        margin: 0;
        float: left;
        margin-left: 25px;
        color: #1d3d86; }
    .the-crew ul:after {
      content: "";
      display: table;
      clear: both; }

.after-trombi {
  margin: 25px 0; }

#profile .mdl-grid {
  padding: 0; }
  #profile .mdl-grid aside {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0;
    padding: 15px; }
    #profile .mdl-grid aside h2 {
      text-align: center; }
    #profile .mdl-grid aside .avatar {
      -webkit-border-radius: 135px;
      -moz-border-radius: 135px;
      border-radius: 135px;
      width: 135px;
      height: 135px;
      margin: 20px auto; }
    #profile .mdl-grid aside .infos {
      text-align: center; }
    @media (max-width: 767px) {
      #profile .mdl-grid aside {
        width: 100%; } }
  #profile .mdl-grid .match-header {
    margin: 15px;
    text-align: center; }
    #profile .mdl-grid .match-header h2 {
      color: #767676; }
    #profile .mdl-grid .match-header h1 {
      margin: 0;
      color: #1d3d86;
      font-size: 30px; }
  #profile .mdl-grid .players-list .label-pills {
    background-color: #E91E63; }

main#content .details-team {
  width: 660px;
  padding: 20px;
  margin: 0 auto; }
  main#content .details-team header h1 {
    text-transform: none;
    font-weight: 700;
    font-size: 35px;
    color: #1d3d86;
    margin-bottom: 0; }
  main#content .details-team article {
    margin-top: 45px 0; }
  main#content .details-team h2 {
    margin-top: 25px; }
  main#content .details-team .the-crew {
    width: 100%; }

/*Presential module*/
md-toast {
  display: none; }

@media (max-width: 767px) {
  md-toast {
    display: block; } }

@media (max-width: 767px) {
  .presential .mdl-switch__label {
    display: none; }
  .presential md-toast {
    display: block; }
    .presential md-toast .md-toast-content {
      min-height: 38px;
      padding: 3px;
      font-size: 0.9em;
      line-height: 0.9em; } }

/* Last Results Widget - Home Header*/
#widget-last-results {
  margin: 0 auto;
  text-align: center; }
  #widget-last-results h3 {
    font-size: 16px;
    margin: 0; }
  #widget-last-results .results {
    font-weight: bold;
    text-transform: uppercase; }
