@charset "UTF-8";
body {
  font-family: "Roboto"; }

ul {
  list-style: none; }

.info-bulle {
  width: 65px;
  height: 65px;
  border-radius: 24px; }

.centring {
  margin: 0 auto; }

h2 {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 5px;
  color: #1d3d86;
  font-weight: 600; }

.actualites .actualite:after {
  content: "";
  display: table;
  clear: both; }

header {
  background-color: white !important; }
  header .mdl-layout__header-row {
    height: 140px;
    color: #1d3d86;
    padding-left: 140px; }
    header .mdl-layout__header-row .mdl-layout-title .logo {
      max-height: 100px; }
    header .mdl-layout__header-row .mdl-layout-title h1 {
      display: inline;
      font-size: 35px;
      font-weight: 600; }
    header .mdl-layout__header-row .mdl-layout-title h4 {
      margin: 0;
      font-size: 20px;
      line-height: 20px; }
    header .mdl-layout__header-row nav {
      margin: 0 auto !important; }
      header .mdl-layout__header-row nav .mdl-navigation__link {
        font-size: 16px;
        font-weight: 400; }
        header .mdl-layout__header-row nav .mdl-navigation__link:hover {
          text-decoration: underline; }
  header #menu {
    height: 60px;
    background-color: #1d3d86; }

#banner {
  height: 463px;
  width: 100%;
  margin: 0px;
  overflow: hidden; }
  #banner .overlay {
    height: 160%;
    width: 40%;
    transform: rotate(25deg);
    margin-top: -85px;
    margin-right: -150px;
    background-color: rgba(29, 65, 135, 0.55);
    float: right; }
    #banner .overlay .container {
      transform: rotate(-25deg);
      height: 100%;
      text-align: right;
      padding-right: 5%;
      float: right;
      margin-right: 180px; }
      #banner .overlay .container ul {
        list-style: none;
        margin-top: 170px; }
        #banner .overlay .container ul li {
          text-decoration: none;
          font-size: 20px; }
          #banner .overlay .container ul li .team {
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 30px; }
          #banner .overlay .container ul li h2 {
            margin-top: 0;
            line-height: normal;
            font-size: 24px;
            font-weight: 500; }

main#content {
  /* Responsive Phone */
  /*Responsive - Large Screen*/ }
  main#content h1 {
    color: #1d3d86;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500; }
  @media (min-width: 320px) {
    main#content {
      margin: 0;
      margin-left: 0px; } }
  @media (min-width: 1024px) {
    main#content {
      margin-left: 35px; } }

section#bottom-banner {
  position: relative;
  background-color: #1d3d86;
  padding: 35px;
  /*Phone Rules*/ }
  section#bottom-banner ul.social {
    display: block;
    color: white; }
    section#bottom-banner ul.social li {
      line-height: 20px;
      margin-bottom: 20px;
      font-weight: 200; }
      section#bottom-banner ul.social li a {
        text-decoration: none;
        color: white; }
      section#bottom-banner ul.social li div {
        font-weight: 500; }
    section#bottom-banner ul.social img {
      float: left;
      margin-right: 15px;
      z-index: 1000; }
  section#bottom-banner #banner-image {
    position: absolute;
    right: 5%;
    bottom: 0%;
    width: 25%; }
    section#bottom-banner #banner-image img {
      width: 100%; }
  @media (min-width: 320px) {
    section#bottom-banner {
      padding: 0px;
      margin: 0; }
      section#bottom-banner #banner-image {
        position: inherit;
        margin-bottom: 20px;
        float: right;
        width: 45px; } }

footer {
  text-align: center; }
  footer h1 {
    color: #1d3d86;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600; }

footer#credits {
  background-color: #1d3d86; }
  footer#credits a {
    text-decoration: none;
    color: inherit;
    margin-right: 10px; }

/*Actualités*/
section.pre-footer {
  background-color: white;
  color: white; }

/* Login Section */
#login .user-information {
  padding-top: 10px; }
  #login .user-information h5 {
    font-size: 15px;
    font-weight: 600;
    margin: 0; }
  #login .user-information a {
    font-size: 15px;
    color: inherit;
    font-weight: 200;
    text-decoration: none; }

#login img.avatar {
  border-radius: 48px;
  float: right; }

/* Header Last Results*/
#widget-last-results {
  margin: 0 auto;
  text-align: center; }
  #widget-last-results h3 {
    font-size: 16px;
    margin: 0; }
  #widget-last-results .results {
    font-weight: bold;
    text-transform: uppercase; }

/* Partner */
ul.partners li {
  display: inline-block;
  height: 100px;
  margin: 0 40px; }
  ul.partners li img {
    width: 80px;
    height: auto; }

/* Archive Teams */
ul.all-teams li {
  text-align: center;
  display: block;
  border-radius: 50%;
  float: left;
  width: 210px;
  height: 210px;
  margin: 25px;
  background-color: #1d3d86; }
  ul.all-teams li a {
    line-height: 200px;
    color: white;
    font-size: 25px;
    text-decoration: none; }

/*Agenda*/
.agenda {
  color: #8a8c96;
  margin: 0;
  padding: 0;
  /*--- Event Details*/ }
  .agenda .timeline-container {
    width: 75px;
    float: left;
    overflow: hidden; }
  .agenda .timeline {
    overflow-y: auto;
    margin-right: -16px;
    height: 475px; }
    .agenda .timeline ul {
      margin: 48px 0;
      padding: 0;
      text-align: center; }
      .agenda .timeline ul li.selected {
        border: 1px solid #eaecf1;
        color: #2d304a;
        background-color: #E0E0E0; }
      .agenda .timeline ul li {
        height: 74px;
        padding-top: 10px; }
        .agenda .timeline ul li .num {
          display: block;
          font-size: 22px; }
        .agenda .timeline ul li .month {
          text-transform: uppercase;
          font-size: 12px;
          color: #8a8c96; }
  .agenda .count {
    position: absolute;
    margin: 15px 10px;
    font-weight: lighter;
    font-style: normal;
    right: 5px;
    line-height: 40px;
    font-size: 20px;
    color: #1d3d86;
    background-color: white; }
  .agenda .left-panel {
    width: 236px; }
    .agenda .left-panel .header {
      padding-left: 25px; }
      .agenda .left-panel .header .mdl-textfield {
        width: 150px; }
    .agenda .left-panel ul.events {
      margin: 0;
      padding: 0;
      line-height: 30px; }
      .agenda .left-panel ul.events li {
        -moz-box-shadow: 1px 1px 1px 0px #ebecf0;
        -webkit-box-shadow: 0px 0px 0px 0px #ebecf0;
        -o-box-shadow: 1px 1px 1px 0px #ebecf0;
        box-shadow: 1px 1px 1px 1px #ebecf0;
        filter: progid:DXImageTransform.Microsoft.Shadow(color=#ebecf0, Direction=134, Strength=1);
        height: 80px;
        padding: 30px; }
        .agenda .left-panel ul.events li .descr {
          color: #2d304a;
          font-size: 22px; }
        .agenda .left-panel ul.events li .descr.purple {
          width: 190px;
          border-right: solid 2px #1ab3ec; }
        .agenda .left-panel ul.events li .descr.orange {
          width: 190px;
          border-right: solid 2px #bb68e3; }
        .agenda .left-panel ul.events li .descr.blue {
          width: 190px;
          border-right: solid 2px #f88c4b; }
  .agenda div.event-details {
    height: 85vh;
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 0; }
    .agenda div.event-details .cover {
      width: auto;
      height: 45%; }
      .agenda div.event-details .cover .header-content {
        width: 45%;
        height: 100%;
        background-color: white;
        padding: 10px 40px; }
        .agenda div.event-details .cover .header-content h1 {
          margin: 0;
          line-height: 50px;
          padding: 0;
          float: left;
          margin-top: 35%;
          font-weight: 300 !important;
          display: inline-block;
          width: 100%; }
    .agenda div.event-details .carousel {
      position: relative;
      margin: 0;
      padding: 0; }
      @media (min-width: 320px) {
        .agenda div.event-details .carousel div {
          min-width: calc(100% / 4);
          min-height: 80px;
          background-size: 350px;
          background-repeat: no-repeat; } }
      .agenda div.event-details .carousel div {
        background-color: #1abc9c;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        opacity: .7; }
      .agenda div.event-details .carousel div:hover {
        opacity: 1; }
      .agenda div.event-details .carousel div.more-pictures {
        opacity: 1;
        background-color: #1d3d86;
        text-align: center;
        color: white;
        font-weight: lighter;
        padding-right: 0px; }
        .agenda div.event-details .carousel div.more-pictures h1 {
          background-color: #1d3d86;
          margin: 0;
          color: white !important;
          text-align: center;
          font-size: 2.5em !important;
          font-weight: 300 !important; }
    .agenda div.event-details .event-content {
      padding: 40px; }

/*
 Module : Actualites
*/
.actualites .actualite {
  float: left;
  margin: 20px 40px;
  /* Responsive rules */ }
  .actualites .actualite > img {
    width: 270px;
    height: auto;
    margin: 0; }
  .actualites .actualite-content {
    margin: 20px;
    width: 250px;
    float: right; }
  .actualites .actualite a {
    color: #1d3d86;
    font-weight: 600;
    padding: 10px;
    float: right;
    text-decoration: none; }
    .actualites .actualite a span {
      display: inline-block;
      vertical-align: middle;
      height: 34px; }
  @media (max-width: 640px) {
    .actualites .actualite > img {
      width: 200px;
      height: auto; } }
  @media (max-width: 580px) {
    .actualites .actualite > img {
      display: none;
      width: 0; }
    .actualites .actualite-content {
      margin: 20px;
      width: 100%;
      float: right; } }
