/*Agenda*/
$soft_grey : #8a8c96;
$grey : #2d304a;
$selected: #E0E0E0;

$blue: #1ab3ec;
$purple : #bb68e3;
$orange: #f88c4b;

.agenda {
	color: $soft_grey;
	margin:0;
	padding: 0;
	.timeline {
		margin:0;
		float: left;
		width: 75px;
		ul {
			margin: 48px 0;
			padding: 0;
			text-align: center;
			li.selected {
				border: 1px solid #eaecf1;
				color : $grey;
				background-color: $selected;
			}
			li {
				height: 74px;
				padding-top: 10px;
					.num {
						display: block;
						font-size: 22px;
					}
					.month {
						text-transform: uppercase;
						font-size: 12px;
						color: $soft_grey;
					}
			}
		}
	}
  .count {
    position: absolute;
    margin: 15px 10px;
    font-weight: lighter;
    font-style: normal;
    right: 5px;
    line-height: 40px;
    font-size: 20px;
    color: $secondary;
    background-color: white;
  }
	.left-panel {
		width: 245px;;
		.header {
			padding-left: 25px;
			.mdl-textfield {
				width: 150px;
			}
		}

		ul.events {
			margin: 0;
			padding: 0;
			line-height: 30px;
			li {
				@include light-border
				height: 80px;
				padding:30px;
				.descr {
					color:$grey;
					font-size: 22px;
				}
				.descr{
					&.purple {
						@include borderize($blue)
					}
					&.orange{
						@include borderize($purple)
					}
					&.blue{
						@include borderize($orange)
					}
				}
			}
		}
	}

  /*--- Event Details*/
    div.event-details {
      height: 85vh;
      width: 100%;
      padding: 0;
      margin: 0;
      padding: 0;
      .cover {
        width: auto;
        height: 45%;
        .header-content {
        width: 45%;
        height: 100%;
        background-color: $primary;
        padding: 10px 40px;
          h1 {
            margin: 0;
            line-height: 50px;
            padding: 0;
            float: left;
            margin-top: 35%;
            font-weight: 300!important;
            display: inline-block;
            width: 100%;
          }
        }

      }
      .carousel {
        position: relative;
        margin: 0;
        padding: 0;
        div {
          @include phone {
            min-width: calc(100% / 4);
            min-height: 80px;
            background-size: 350px;
            background-repeat: no-repeat;
      		}
          @include opacitify
        }
        div.more-pictures {
          opacity: 1;
          background-color: $secondary;
          text-align: center;
          color: $primary;
          font-weight: lighter;
          padding-right: 0px;
          h1 {
            background-color: $secondary;
            margin: 0;
            color: $primary!important;
            text-align: center;
            font-size: 2.5em!important;
            font-weight: 300!important;
          }
        }
      }
      .event-content {
        padding:40px;
      }
    }
}
