// ==========================================================================
// SMACSS - Base Scss
// Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes
// https://smacss.com/book/type-base
// ==========================================================================

body {
	font-family: $font-family-default;
}

ul {
	list-style: none;
}

.info-bulle {
    width: 65px;
    height: 65px;
    border-radius: 24px;
}

.centring {
	margin: 0 auto;
}
