// ==========================================================================
// SMACSS - Layout Scss
// Generally, a Layout style only has a single selector: a single ID or class name
// https://smacss.com/book/type-layout
// ==========================================================================
$deg : 25;
header {
	background-color: $primary !important;
	.mdl-layout__header-row
	{
		height: $header-height;
		color: $secondary;
		padding-left: 140px;


		.mdl-layout-title {
			.logo {
				max-height: $max-icon-height;
			}
			h1 {
				display: inline;
				font-size: 35px;
				font-weight: 600;
			}

			h4 {
				margin: 0;
				font-size: 20px;
				line-height: 20px
			}
		}

		nav {
			margin: 0 auto !important;

	 		.mdl-navigation__link {
				font-size: 16px;
				font-weight: 400;
					&:hover {
						text-decoration: underline;
					}
				}
			}
	}

	#menu {
		height: $menu-height;
		background-color: $secondary;
	}
}

#banner {
	height: 463px;
	width: 100%;
	margin: 0px;
	overflow: hidden;

	.overlay{
		height: 160%;
		width:40%;
		transform: rotate($deg + deg);
		margin-top: -85px;
		margin-right: -150px;
		background-color: $secondary-transparence ;
		float: right;

		.container {
			transform: rotate(-$deg + deg);
			height: 100%;
			text-align: right;
			padding-right: 5%;
			float: right;
			margin-right: 180px;
			ul{
				list-style: none;
				margin-top: 170px;
				li{
					text-decoration: none;
					font-size: 20px;
					.team {
						font-size: 20px;
						font-weight: 400;
						text-transform: uppercase;
						margin-top: 30px;
					}
					h2{
						margin-top:0;
						line-height: normal;
						font-size: 24px;
						font-weight: 500;
					}
				}
			}
		}
	}
}

main#content{
	h1 {
		color : $secondary;
		font-size: $header-title-font-size;
		text-transform: uppercase;
		font-weight: 500;
	}

	/* Responsive Phone */
	@include phone {
		margin:0;
		margin-left:0px;
	}
	/*Responsive - Large Screen*/
	@include desktop {
		margin-left: 35px;
	}
}

section#bottom-banner {
	position: relative;
	background-color: $secondary;
	padding:35px;

	ul.social {
		display: block;
		color: $primary;
		li {
			line-height: 20px;
			margin-bottom: 20px;
			font-weight: 200;
			a {
				text-decoration: none;
				color: $primary;
			}
			div {
				font-weight: 500;
			}
		}

		img {
			float: left;
			margin-right: 15px;
			z-index: 1000;
		}
	}

	#banner-image {
		position: absolute;
		right: 5%;
		bottom: 0%;
		width:25%;
		img {
			width : 100%;
		}
	}

	/*Phone Rules*/
	@include phone {
		padding: 0px;
		margin: 0;
		#banner-image {
			position: inherit;
			margin-bottom: 20px;
			float: right;
			width: 45px;
		}
  }
}

footer{
	text-align: center;
	h1 {
		color : $secondary;
		font-size: $header-title-font-size;
		text-transform: uppercase;
		font-weight: 600;
	}
}

footer#credits {
	background-color: $secondary;
	a {
		text-decoration: none;
		color:inherit;
		margin-right: 10px;
	}
}
