/*
  Organigramme component
 */

//Blocks
div {
  padding: 0;
  width: 80%;
  margin:0 auto;
}

.the-crew {
  &__item {
    float: left;
    margin: 25px 20px;
    width: 390px; 
    img {
      float: left;
      @include roundedImg(85px)
    }
    p {
      margin: 0;
      float: left;
      margin-left: 25px;
      color : $secondary;
    }
  }
  @include clearfix
}

.after-trombi {
  margin: 25px 0;
}
