/*Presential module*/
#presential {
  md-toast {
    display: none;
  }
	@include only-phone {
		.mdl-switch__label {
			display: none;
		}
    md-toast{
      display: block;
      width: 110%;
      &.md-bottom {
        position: absolute;
        left:50%;
        margin-left: -100px;
        bottom:-40px;
        text-align: center;
      }

      .md-toast-content {
        min-height: 30px;
        padding: 3px;
      }
    }
	}
}
