/*Presential module*/
md-toast {
  display: none;
}
@include phone {
  md-toast{
    display: block;
  }
}

.presential {

	@include phone {
		.mdl-switch__label {
			display: none;
		}

    md-toast{
      display: block;
    
      .md-toast-content {
        min-height: 38px;
        padding: 3px;
        font-size: 0.9em;
        line-height: 0.9em;
      }
    }
	}
}
