// ==========================================================================
// SMACSS - Theme Scss
// A theme defines colours and images that give your application or site its look and feel.
// Separating the theme out into its own set of styles allows for those styles to be easily redefined for alternate themes.
// https://smacss.com/book/type-theme
// ==========================================================================

$color-text : #757575;
$color-link : #757575;

$primary : white;
$secondary : #1d3d86;
$secondary-transparence : rgba(29,65,135, 0.55);

$font-family-default : 'Roboto';
$font-family-display : $font-family-default;
$font-size:48px;

$header-title-font-size : 22px;
$header-height : 140px;
$menu-height : 60px;
$header-padding : 20px;

$home-banner : "../images/banner.jpg";
$max-icon-height : 100px;

$tablet-width: 768px;
$desktop-width: 1024px;

$tablet-width: 768px;
$desktop-width: 1024px;
$phone-width: 320px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: #{$phone-width}) {
    @content;
  }
}

@mixin light-border {
  -moz-box-shadow: 1px 1px 1px 0px #ebecf0;
  -webkit-box-shadow: 0px 0px 0px 0px #ebecf0;
  -o-box-shadow: 1px 1px 1px 0px #ebecf0;
  box-shadow: 1px 1px 1px 1px #ebecf0;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#ebecf0, Direction=134, Strength=1);
}

@mixin opacitify {
   &{
      background-color: #1abc9c;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      opacity: .7;
    }
    &:hover{
      opacity: 1;
    }
}

@mixin borderize($color)
{
  width: 190px;
  border-right : solid 2px $color;
}
