@charset "UTF-8";
body {
  font-family: "Roboto"; }

.mdl-card--horizontal {
  flex-direction: column;
  height: 1vh;
  /* 1 */
  padding-left: 250px; }
  .mdl-card--horizontal .mdl-card__media {
    left: 0;
    position: absolute;
    width: 150px; }
  .mdl-card--horizontal .mdl-card__supporting-text {
    flex: 1 1 auto;
    width: auto; }

header {
  background-color: #284c93 !important; }
  header .mdl-layout__header-row {
    height: 69px;
    padding-left: 20px; }
    header .mdl-layout__header-row .mdl-layout-title > img {
      max-height: 60px; }
    header .mdl-layout__header-row nav > .mdl-navigation__link {
      font-size: 16px;
      font-weight: 400; }
      header .mdl-layout__header-row nav > .mdl-navigation__link:hover {
        text-decoration: underline; }

#banner {
  height: 245px;
  width: 100%;
  background: url("../images/banner.jpg") top/cover;
  margin: 0px; }

main#content {
  margin-left: 35px; }
  main#content h1, main#content .actualites .actualite .mdl-card__title {
    color: #284c93;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500; }

/*Actualités*/
main#content .actualites {
  padding: 10px; }
  main#content .actualites .actualite {
    font-size: 16px;
    margin-top: 40px; }
    main#content .actualites .actualite .mdl-card__media {
      height: 190px;
      width: 250px; }
    main#content .actualites .actualite img {
      height: 190px;
      width: 250px; }
    main#content .actualites .actualite .mdl-card__supporting-text > p {
      color: #000000; }
    main#content .actualites .actualite .mdl-card__title {
      text-transform: none; }
    main#content .actualites .actualite .mdl-card__actions > a {
      text-transform: none;
      float: right;
      line-height: 15px; }

section.pre-footer {
  background-color: #284c93;
  color: white; }
